.parent {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1500px;
  gap: 15px;
  margin: auto;
}
.card_name{
  color: black;
}
.card{
  text-align: center;
  height:303.25px;
}

.card_price{
  color: black;
}
.card_artist{
  color: black;
}
.modeselector{
  display: flex;
  justify-content: center;
  padding-top:10px;
  
}
.mode_child{
  padding: 10px;
  cursor:pointer;
  transition: 0.3s;
  border-radius: 4px;
  margin: 10px;
  
}
.mode_child:hover{
  background-color: black;
  color:white;
  scale: 1.15;

}
.black{
  color:black;
}
.card {
  cursor: pointer;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.card img {
  max-width: 100%;
  border-radius: 4px;
}

.card.selected {
  transform: scale(1.1);
  z-index: 10;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
}

.modal-content img {
  max-width: 100%;
  margin-bottom: 15px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.card_spacing{
  margin:0;
  padding:10px;
}

.close-button:hover {
  background-color: #d32f2f;
}
.buybutton{
  padding: 5px;
  border-radius: 4px;
  background-color: black;
  color:white;
  transition:0.3s
}
.buybutton:hover{
  background-color: rgb(34, 34, 97);
  color:rgb(38, 97, 173);
  scale: 1.05;
}
@media (max-width: 768px){
  .modeselector{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    
  }
 
  
}